@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";
@import "./variables.css";
@import "./layout.css";

@source '../../resources/views/**/*.blade.php';
@source '../../resources/js/**/*.vue';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

html {
    font-size: 14px;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.material-symbols-outlined.active {
    font-variation-settings: 'FILL' 1,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24;
    color: green;
}

.material-symbols-outlined.zerofill {
    font-variation-settings: 'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24;
}

.labelclass {
    @apply font-bold text-sm block max-w-max;
}

.card {
    background-color: var(--p-primary-contrast-color);
    padding: 2rem;
    margin-bottom: 2rem;
    @apply rounded-md;

    &:last-child {
        margin-bottom: 0;
    }
}
